accelerate==1.10.1
datasets==4.5.0
matplotlib==3.9.4
numpy==1.26.4
pandas==2.3.3
peft==0.17.1
PyYAML==6.0.3
scikit-learn==1.6.1
sentence-transformers==5.1.2
torch==2.8.0
tqdm==4.68.2
transformers==4.57.6
